In [3]:
#%cd ./flosp
import pandas as pd
import numpy as np
import seaborn as sns
# import featuretools as ft
#import flosp
#import bradlib as bl
sns.set()

# from core import create_timeseries_from_events, make_callender_columns

In [8]:
df = pd.read_pickle('./../../../3_Data/EDclassification/SGH_DAILY.pkl')

In [9]:
df.head()

,ED_arrivals,ED_departures,IP_admissions_elec_nonelec,IPocc_elec_nonelec_MEAN,IPocc_total_MEAN,IPocc_total_MAX,IPocc_elec_nonelec_MAX,EDocc_total_MAX,IP_admissions_elec_nonelec_MAX,IP_discharges_elec_nonelec_PRE12,date,date_hour,date_dayofweek,date_day,date_month,date_week,date_dayofweek_name,date_year,date_date,date_flag_wkend
2009-04-01,227.0,194.0,184.0,79.333333,119.750000,208.0,182.0,55.0,31.0,0.0,2009-04-01,0,2,1,4,14,Wednesday,2009,2009-04-01,0
2009-04-02,247.0,224.0,171.0,226.041667,267.291667,347.0,290.0,57.0,18.0,28.0,2009-04-02,0,3,2,4,14,Thursday,2009,2009-04-02,0
2009-04-03,228.0,225.0,135.0,307.500000,349.458333,422.0,326.0,61.0,16.0,33.0,2009-04-03,0,4,3,4,14,Friday,2009,2009-04-03,0
2009-04-04,231.0,254.0,95.0,327.291667,344.708333,367.0,341.0,59.0,9.0,37.0,2009-04-04,0,5,4,4,14,Saturday,2009,2009-04-04,0
2009-04-05,246.0,244.0,126.0,358.333333,369.916667,404.0,399.0,63.0,16.0,20.0,2009-04-05,0,6,5,4,14,Sunday,2009,2009-04-05,1

In [10]:
df.columns

Index(['ED_arrivals', 'ED_departures', 'IP_admissions_elec_nonelec',
       'IPocc_elec_nonelec_MEAN', 'IPocc_total_MEAN', 'IPocc_total_MAX',
       'IPocc_elec_nonelec_MAX', 'EDocc_total_MAX',
       'IP_admissions_elec_nonelec_MAX', 'IP_discharges_elec_nonelec_PRE12',
       'date', 'date_hour', 'date_dayofweek', 'date_day', 'date_month',
       'date_week', 'date_dayofweek_name', 'date_year', 'date_date',
       'date_flag_wkend'],
      dtype='object')

In [13]:
df.IPocc_total_MAX.head()

2009-04-01    208.0
2009-04-02    347.0
2009-04-03    422.0
2009-04-04    367.0
2009-04-05    404.0
Freq: D, Name: IPocc_total_MAX, dtype: float64

In [19]:
df

,ED_arrivals,ED_departures,IP_admissions_elec_nonelec,IPocc_elec_nonelec_MEAN,IPocc_total_MEAN,IPocc_total_MAX,IPocc_elec_nonelec_MAX,EDocc_total_MAX,IP_admissions_elec_nonelec_MAX,IP_discharges_elec_nonelec_PRE12,...,date_flag_wkend,d_hour,d_dayofweek,d_day,d_month,d_week,d_dayofweek_name,d_year,d_date,d_flag_wkend
2009-04-01,227.0,194.0,184.0,79.333333,119.750000,208.0,182.0,55.0,31.0,0.0,...,0,0,2,1,4,14,Wednesday,2009,2009-04-01,0
2009-04-02,247.0,224.0,171.0,226.041667,267.291667,347.0,290.0,57.0,18.0,28.0,...,0,0,3,2,4,14,Thursday,2009,2009-04-02,0
2009-04-03,228.0,225.0,135.0,307.500000,349.458333,422.0,326.0,61.0,16.0,33.0,...,0,0,4,3,4,14,Friday,2009,2009-04-03,0
2009-04-04,231.0,254.0,95.0,327.291667,344.708333,367.0,341.0,59.0,9.0,37.0,...,0,0,5,4,4,14,Saturday,2009,2009-04-04,0
2009-04-05,246.0,244.0,126.0,358.333333,369.916667,404.0,399.0,63.0,16.0,20.0,...,1,0,6,5,4,14,Sunday,2009,2009-04-05,1
2009-04-06,264.0,250.0,216.0,457.916667,497.958333,572.0,538.0,68.0,20.0,31.0,...,0,0,0,6,4,15,Monday,2009,2009-04-06,0
2009-04-07,232.0,250.0,181.0,551.375000,599.291667,686.0,574.0,55.0,30.0,61.0,...,0,0,1,7,4,15,Tuesday,2009,2009-04-07,0
2009-04-08,221.0,225.0,178.0,596.291667,644.041667,725.0,628.0,59.0,22.0,55.0,...,0,0,2,8,4,15,Wednesday,2009,2009-04-08,0
2009-04-09,218.0,213.0,143.0,625.166667,668.208333,750.0,659.0,54.0,19.0,65.0,...,0,0,3,9,4,15,Thursday,2009,2009-04-09,0
2009-04-10,220.0,227.0,97.0,591.125000,600.958333,641.0,626.0,49.0,10.0,59.0,...,0,0,4,10,4,15,Friday,2009,2009-04-10,0
2009-04-11,241.0,221.0,104.0,573.666667,583.166667,596.0,587.0,48.0,13.0,33.0,...,0,0,5,11,4,15,Saturday,2009,2009-04-11,0
2009-04-12,250.0,260.0,109.0,588.708333,601.375000,615.0,600.0,66.0,9.0,33.0,...,1,0,6,12,4,15,Sunday,2009,2009-04-12,1
2009-04-13,260.0,259.0,136.0,607.333333,617.291667,641.0,638.0,62.0,19.0,36.0,...,0,0,0,13,4,16,Monday,2009,2009-04-13,0
2009-04-14,260.0,248.0,222.0,696.041667,739.041667,828.0,748.0,70.0,27.0,27.0,...,0,0,1,14,4,16,Tuesday,2009,2009-04-14,0
2009-04-15,233.0,261.0,176.0,767.250000,803.750000,880.0,800.0,58.0,20.0,62.0,...,0,0,2,15,4,16,Wednesday,2009,2009-04-15,0
2009-04-16,200.0,188.0,162.0,773.833333,808.583333,879.0,800.0,44.0,17.0,44.0,...,0,0,3,16,4,16,Thursday,2009,2009-04-16,0
2009-04-17,232.0,244.0,138.0,783.875000,817.208333,897.0,818.0,43.0,10.0,51.0,...,0,0,4,17,4,16,Friday,2009,2009-04-17,0
2009-04-18,250.0,219.0,97.0,748.541667,760.041667,787.0,770.0,63.0,12.0,50.0,...,0,0,5,18,4,16,Saturday,2009,2009-04-18,0
2009-04-19,248.0,257.0,111.0,755.416667,765.125000,780.0,769.0,60.0,9.0,37.0,...,1,0,6,19,4,16,Sunday,2009,2009-04-19,1
2009-04-20,255.0,271.0,201.0,810.416667,854.083333,950.0,843.0,59.0,20.0,38.0,...,0,0,0,20,4,17,Monday,2009,2009-04-20,0
2009-04-21,220.0,218.0,192.0,849.625000,890.708333,983.0,882.0,43.0,23.0,66.0,...,0,0,1,21,4,17,Tuesday,2009,2009-04-21,0
2009-04-22,244.0,247.0,200.0,870.416667,912.000000,988.0,890.0,50.0,28.0,63.0,...,0,0,2,22,4,17,Wednesday,2009,2009-04-22,0
2009-04-23,231.0,218.0,177.0,902.666667,945.291667,1032.0,922.0,54.0,21.0,47.0,...,0,0,3,23,4,17,Thursday,2009,2009-04-23,0
2009-04-24,229.0,244.0,149.0,894.458333,937.500000,1043.0,945.0,49.0,12.0,72.0,...,0,0,4,24,4,17,Friday,2009,2009-04-24,0
2009-04-25,218.0,209.0,101.0,841.333333,855.750000,888.0,866.0,45.0,12.0,45.0,...,0,0,5,25,4,17,Saturday,2009,2009-04-25,0
2009-04-26,250.0,242.0,115.0,841.583333,847.791667,863.0,852.0,65.0,17.0,31.0,...,1,0,6,26,4,17,Sunday,2009,2009-04-26,1
2009-04-27,257.0,248.0,224.0,887.083333,930.708333,1015.0,926.0,62.0,28.0,58.0,...,0,0,0,27,4,18,Monday,2009,2009-04-27,0
2009-04-28,210.0,225.0,197.0,956.500000,995.500000,1087.0,986.0,52.0,22.0,55.0,...,0,0,1,28,4,18,Tuesday,2009,2009-04-28,0
2009-04-29,241.0,241.0,202.0,967.583333,1004.625000,1086.0,1000.0,60.0,23.0,72.0,...,0,0,2,29,4,18,Wednesday,2009,2009-04-29,0
2009-04-30,211.0,211.0,170.0,962.666667,1004.791667,1088.0,1000.0,50.0,19.0,73.0,...,0,0,3,30,4,18,Thursday,2009,2009-04-30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-09-08,278.0,295.0,136.0,996.750000,1021.958333,1076.0,1025.0,78.0,13.0,49.0,...,0,0,5,8,9,36,Saturday,2018,2018-09-08,0
2018-09-09,321.0,323.0,125.0,981.125000,992.875000,1025.0,999.0,79.0,13.0,35.0,...,1,0,6,9,9,36,Sunday,2018,2018-09-09,1
2018-09-10,303.0,299.0,204.0,1002.166667,1068.291667,1183.0,1033.0,81.0,37.0,50.0,...,0,0,0,10,9,37,Monday,2018,2018-09-10,0
2018-09-11,282.0,291.0,200.0,1033.791667,1098.291667,1217.0,1070.0,58.0,29.0,61.0,...,0,0,1,11,9,37,Tuesday,2018,2018-09-11,0
2018-09-12,291.0,291.0,191.0,1034.541667,1090.083333,1208.0,1079.0,66.0,29.0,53.0,...,0,0,2,12,9,37,Wednesday,2018,2018-09-12,0
2018-09-13,273.0,279.0,175.0,1009.916667,1065.333333,1178.0,1055.0,64.0,32.0,60.0,...,0,0,3,13,9,37,Thursday,2018,2018-09-13,0
2018-09-14,262.0,240.0,169.0,961.166667,1017.708333,1147.0,1013.0,68.0,28.0,58.0,...,0,0,4,14,9,37,Friday,2018,2018-09-14,0
2018-09-15,295.0,303.0,117.0,894.000000,917.666667,985.0,923.0,72.0,9.0,53.0,...,0,0,5,15,9,37,Saturday,2018,2018-09-15,0
2018-09-16,338.0,323.0,131.0,874.166667,890.541667,917.0,886.0,93.0,12.0,34.0,...,1,0,6,16,9,37,Sunday,2018,2018-09-16,1
2018-09-17,341.0,333.0,220.0,920.250000,975.625000,1089.0,949.0,79.0,34.0,36.0,...,0,0,0,17,9,38,Monday,2018,2018-09-17,0
2018-09-18,344.0,341.0,225.0,954.000000,1016.583333,1132.0,986.0,94.0,36.0,57.0,...,0,0,1,18,9,38,Tuesday,2018,2018-09-18,0
2018-09-19,324.0,321.0,197.0,943.333333,998.875000,1105.0,985.0,89.0,32.0,70.0,...,0,0,2,19,9,38,Wednesday,2018,2018-09-19,0
2018-09-20,332.0,340.0,221.0,926.000000,982.333333,1087.0,965.0,85.0,40.0,60.0,...,0,0,3,20,9,38,Thursday,2018,2018-09-20,0
2018-09-21,262.0,286.0,178.0,917.083333,979.416667,1098.0,957.0,78.0,23.0,50.0,...,0,0,4,21,9,38,Friday,2018,2018-09-21,0
2018-09-22,297.0,296.0,105.0,854.416667,880.833333,958.0,894.0,60.0,13.0,48.0,...,0,0,5,22,9,38,Saturday,2018,2018-09-22,0
2018-09-23,293.0,291.0,128.0,801.666667,819.125000,863.0,827.0,59.0,13.0,38.0,...,1,0,6,23,9,38,Sunday,2018,2018-09-23,1
2018-09-24,324.0,318.0,229.0,822.666667,885.791667,1009.0,854.0,91.0,38.0,37.0,...,0,0,0,24,9,39,Monday,2018,2018-09-24,0
2018-09-25,285.0,287.0,209.0,842.125000,910.333333,1029.0,887.0,71.0,33.0,57.0,...,0,0,1,25,9,39,Tuesday,2018,2018-09-25,0
2018-09-26,333.0,316.0,194.0,818.708333,870.791667,985.0,872.0,81.0,33.0,72.0,...,0,0,2,26,9,39,Wednesday,2018,2018-09-26,0
2018-09-27,299.0,311.0,185.0,761.833333,827.416667,952.0,807.0,80.0,27.0,65.0,...,0,0,3,27,9,39,Thursday,2018,2018-09-27,0
2018-09-28,297.0,301.0,205.0,715.291667,783.916667,907.0,754.0,79.0,24.0,55.0,...,0,0,4,28,9,39,Friday,2018,2018-09-28,0
2018-09-29,247.0,253.0,126.0,643.041667,672.500000,755.0,685.0,62.0,10.0,61.0,...,0,0,5,29,9,39,Saturday,2018,2018-09-29,0
2018-09-30,341.0,339.0,109.0,570.166667,589.750000,656.0,616.0,81.0,9.0,30.0,...,1,0,6,30,9,39,Sunday,2018,2018-09-30,1
2018-10-01,0.0,58.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,38.0,...,0,0,0,1,10,40,Monday,2018,2018-10-01,0
2018-10-02,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,28.0,...,0,0,1,2,10,40,Tuesday,2018,2018-10-02,0
2018-10-03,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,18.0,...,0,0,2,3,10,40,Wednesday,2018,2018-10-03,0
2018-10-04,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,23.0,...,0,0,3,4,10,40,Thursday,2018,2018-10-04,0
2018-10-05,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,20.0,...,0,0,4,5,10,40,Friday,2018,2018-10-05,0
2018-10-06,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,9.0,...,0,0,5,6,10,40,Saturday,2018,2018-10-06,0
2018-10-07,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,3.0,...,1,0,6,7,10,40,Sunday,2018,2018-10-07,1

In [38]:
from flosp.basic_tools import make_callender_columns

df = make_callender_columns(df,'date','d') # get year column

#### get quantile data & merge back into original df
year_describe = pd.DataFrame(df.groupby(['d_year']).max()) #quantile(quantile)[col_name]).rename(columns={col_name:'quantile'})
df_withyearly = df.merge(year_describe,left_on='d_year',right_index=True)

----------------------------------------
Making callender columns from:  date

In [57]:
year_max = year_describe['IPocc_total_MAX'].copy().rename(columns={'0':'max_occ'})

In [58]:
year_max = pd.DataFrame(year_max).rename(columns={0:'max_occ_year'})

In [59]:
year_max.head(2)

        max_occ_year
d_year
2009          1308.0
2010          1351.0

In [61]:
df = df.merge(year_max,right_index=True,left_on='d_year')

In [65]:
df['IPocc_perc'] = df.IPocc_total_MAX/df.max_occ_year

In [73]:
df.index = df.index.shift(1)

In [74]:
cols= ['IPocc_perc','IP_admissions_elec_nonelec','IP_discharges_elec_nonelec_PRE12']

df[cols].to_pickle('./IPocc_perc.pkl')

In [70]:
break

SyntaxError: 'break' outside loop (cell_name, line 4)

In [67]:
df.columns

Index(['ED_arrivals', 'ED_departures', 'IP_admissions_elec_nonelec',
       'IPocc_elec_nonelec_MEAN', 'IPocc_total_MEAN', 'IPocc_total_MAX',
       'IPocc_elec_nonelec_MAX', 'EDocc_total_MAX',
       'IP_admissions_elec_nonelec_MAX', 'IP_discharges_elec_nonelec_PRE12',
       'date', 'date_hour', 'date_dayofweek', 'date_day', 'date_month',
       'date_week', 'date_dayofweek_name', 'date_year', 'date_date',
       'date_flag_wkend', 'd_hour', 'd_dayofweek', 'd_day', 'd_month',
       'd_week', 'd_dayofweek_name', 'd_year', 'd_date', 'd_flag_wkend',
       'max_occ_year', 'IPocc_perc'],
      dtype='object')

In [23]:
df_withyearly.columns

Index(['ED_arrivals_x', 'ED_departures_x', 'IP_admissions_elec_nonelec_x',
       'IPocc_elec_nonelec_MEAN_x', 'IPocc_total_MEAN_x', 'IPocc_total_MAX_x',
       'IPocc_elec_nonelec_MAX_x', 'EDocc_total_MAX_x',
       'IP_admissions_elec_nonelec_MAX_x',
       'IP_discharges_elec_nonelec_PRE12_x', 'date_x', 'date_hour_x',
       'date_dayofweek_x', 'date_day_x', 'date_month_x', 'date_week_x',
       'date_dayofweek_name_x', 'date_year_x', 'date_date_x',
       'date_flag_wkend_x', 'd_hour_x', 'd_dayofweek_x', 'd_day_x',
       'd_month_x', 'd_week_x', 'd_dayofweek_name_x', 'd_year', 'd_date_x',
       'd_flag_wkend_x', 'ED_arrivals_y', 'ED_departures_y',
       'IP_admissions_elec_nonelec_y', 'IPocc_elec_nonelec_MEAN_y',
       'IPocc_total_MEAN_y', 'IPocc_total_MAX_y', 'IPocc_elec_nonelec_MAX_y',
       'EDocc_total_MAX_y', 'IP_admissions_elec_nonelec_MAX_y',
       'IP_discharges_elec_nonelec_PRE12_y', 'date_y', 'date_hour_y',
       'date_dayofweek_y', 'date_day_y', 'date_month_y', 'date_week_y',
       'date_dayofweek_name_y', 'date_year_y', 'date_date_y',
       'date_flag_wkend_y', 'd_hour_y', 'd_dayofweek_y', 'd_day_y',
       'd_month_y', 'd_week_y', 'd_dayofweek_name_y', 'd_date_y',
       'd_flag_wkend_y'],
      dtype='object')

In [18]:
from flosp.basic_tools import make_callender_columns
import matplotlib.pyplot as plt

def create_column_with_busy_days_flag(df,col_name, quantile, plot=False, plot_years = None ):
    """
    Function to create new column with 0,1 flag for prediction.
    Calculates the quantile value for each year and sets 1's to be all values exceeding that value.
    
    Input
    -----
    df, pandas dataframe, index column as date
    col_name, string, name of column which contains the measure
    quantile, float, quantile above which days will be flagged as being crowded. e.g. 0.8
    plot, boolean, (optional) if true return plot of the flagged points.
    plot_years, list of int, (optional) of years to include in plot.
    
    Return
    ------
    df, pandas dataframe, with flag_target column containing 0,1s.
    """
    #### get index into columns and make columns for grouping
    df['date'] = df.index
    df['date'] = pd.to_datetime(df['date']) # make date into dateitme
    df = make_callender_columns(df,'date','d') # get year column
    
    #### get quantile data & merge back into original df
    year_describe = pd.DataFrame(df.groupby(['d_year']).max()) #quantile(quantile)[col_name]).rename(columns={col_name:'quantile'})
    df_withyearly = df.merge(year_describe,left_on='d_year',right_index=True)
    
    #### make flag for those above quantile for each year
    df_withyearly['max_year_occ'] = df_withyearly.apply(lambda x : x[col_name] > x['quantile'], axis=1).astype(int)
    
    #### optional plotting
    if plot == True:
        if plot_years == None:
            dff = df_withyearly
        else:
            dff = df_withyearly.query('d_year in ' + str(plot_years))
            
        target_col = col_name
        fig, ax = plt.subplots()
        dff[target_col].plot(ax=ax,figsize=(24,6))
        dff[dff.flag_target == 1][target_col].plot(ax=ax,style='.k')
    
    return(df_withyearly)
#     return(df_withyearly[[col_name,'max_year_occ']])

df = create_column_with_busy_days_flag(df,'IPocc_total_MAX',0.85,False) #, [2012,2013])

----------------------------------------
Making callender columns from:  date

KeyError: ('IPocc_total_MAX', 'occurred at index 2009-04-01 00:00:00')

In [ ]:
df.IPocc