In [1]:
import pandas as pd
import numpy as np

In [2]:
df  = pd.read_csv('./../../../3_Data/EDclassification/WAC_UHS_EDexport_0918_rr.txt',low_memory=False)

In [3]:
df.head()

,Pseudo Patient Number,ATTENDANCE_NUMBER,Age,Gender,Department,Site attended,Arrival,Arrival mode,Arrival mode desc,1st time triaged [datetime],1st time seen by doctor,Time of inpatient bed request,Time of speciality referral,Speciality referred to,Time into CDU,Time leaving dept (inc CDU),Admission flag,Majors/Minors/Resus patient,Triage category
0,004101045105,90902325901,94.0,F,Main ED,Main ED,13-APR-09 09:16,NaN,BROUGHT IN BY AMBULANCE,NaN,13-APR-09 10:28,NaN,NaN,NaN,NaN,13-APR-09 12:24,N,Majors,VERY URGENT
1,644868441371,90902326101,47.0,M,Main ED,Main ED,13-APR-09 09:22,NaN,BROUGHT IN BY AMBULANCE,NaN,13-APR-09 09:30,NaN,NaN,NaN,NaN,13-APR-09 12:55,Y,Majors,VERY URGENT
2,668666687357,90902326501,0.0,M,Main ED,Main ED,13-APR-09 09:31,NaN,OTHER,NaN,13-APR-09 10:00,NaN,13-APR-09 11:19,Paediatrics - Medical,NaN,13-APR-09 11:54,Y,Paeds,STANDARD
3,446747461391,90902328601,4.0,M,Main ED,Main ED,13-APR-09 10:52,NaN,OTHER,NaN,13-APR-09 11:30,NaN,13-APR-09 12:09,Orthopaedics,NaN,13-APR-09 13:49,N,NaN,STANDARD
4,423646238168,90902328801,31.0,F,Main ED,Main ED,13-APR-09 11:18,NaN,BROUGHT IN BY AMBULANCE,NaN,13-APR-09 12:00,NaN,13-APR-09 12:27,Obstetrics & Gynaecology,NaN,13-APR-09 14:49,Y,Majors,VERY URGENT

In [4]:
IP  = pd.read_csv('./../../../3_Data/EDclassification/WAC_UHS_FCETable1_0918_rr_BK.txt',low_memory=False)

In [6]:
IP.head()

,Pseudo Patient Number,Age at Admission,Gender,Spell Number,Admission Date,Discharge Date,Admission Method Code,Admission Method Description,Length of Stay (Days),Admission Source Code,...,Discharge Destination Desc,Consultant Episode Number,Episode Start Date,Episode End Date,Specialty Code,Specialty Description,Consultant Code,Main Specialty Code,Length of Episode (Days),Date of Death
0,508656089369,10,1,8673622,18-JUN-09 13:15,18-JUN-09 18:00,21,EMERGENCY A+E,0,19,...,USUAL PLACE OF RESIDENCE,1,18-JUN-09 13:15,18-JUN-09 18:00,420,Paediatrics,1240,420,0.0,04-MAR-12 00:00
1,368636689369,0,2,8672974,18-JUN-09 04:03,19-JUN-09 11:49,82,BABIES BORN IN THIS UNIT,1,79,...,USUAL PLACE OF RESIDENCE,1,18-JUN-09 04:03,19-JUN-09 11:49,424,Well Babies,1463,502,1.0,NaN
2,518050189349,41,1,8663608,02-JUN-09 12:45,04-JUN-09 10:30,21,EMERGENCY A+E,2,19,...,USUAL PLACE OF RESIDENCE,2,03-JUN-09 13:15,03-JUN-09 13:15,300,General Medicine,1443,300,0.0,NaN
3,518050189349,41,1,8663608,02-JUN-09 12:45,04-JUN-09 10:30,21,EMERGENCY A+E,2,19,...,USUAL PLACE OF RESIDENCE,4,04-JUN-09 09:10,04-JUN-09 10:30,306,Hepatology,490,300,0.0,NaN
4,518050189349,41,1,8663608,02-JUN-09 12:45,04-JUN-09 10:30,21,EMERGENCY A+E,2,19,...,USUAL PLACE OF RESIDENCE,3,03-JUN-09 13:35,03-JUN-09 13:35,100,General Surgery,1378,100,0.0,NaN

In [5]:
IP2  = pd.read_csv('./../../../3_Data/EDclassification/WAC_UHS_FCETable2_0918_rr.txt',low_memory=False)

In [7]:
IP2.head()

,Spell Number,Ward Code,Ward Code Description,Ward Stay Start (Date),Ward Stay End (Date)
0,8670648,1146,AMU ADMISSIONS 2,15/06/2009 04:00:00,16/06/2009 11:34:02
1,8670648,1145,AMU ADMISSIONS 1,16/06/2009 11:34:02,17/06/2009 22:00:02
2,8670648,151,D8 KENNETT,17/06/2009 22:00:02,24/06/2009 10:59:00
3,8670696,129,G3 PAEDIATRICS,22/06/2009 08:00:00,23/06/2009 09:46:00
4,8670732,1169,D3H HAMILTON FAIRLEY,15/06/2009 09:00:00,19/06/2009 14:32:00