Notebook to make callender df for DataSet2.

In [2]:
import pandas as pd
import numpy as np

#### get data for target

In [3]:
df = pd.read_pickle('./../../data/interim/EDooc_class.pkl')
df.head()

                EDocc  flag_target
dt_date
2012-01-01  55.750000            1
2012-01-02  38.541667            0
2012-01-03  40.208333            0
2012-01-04  32.375000            0
2012-01-05  32.125000            0

In [4]:
df = df.reset_index()

In [5]:
df.head()

     dt_date      EDocc  flag_target
0 2012-01-01  55.750000            1
1 2012-01-02  38.541667            0
2 2012-01-03  40.208333            0
3 2012-01-04  32.375000            0
4 2012-01-05  32.125000            0

In [6]:
df['year'] = df['dt_date'].apply(lambda x: x.year)

In [7]:
df['month'] = df['dt_date'].apply(lambda x: x.month)

In [8]:
df['dayofweek'] = df['dt_date'].apply(lambda x: x.day_name())

In [9]:
df.head()

     dt_date      EDocc  flag_target  year  month  dayofweek
0 2012-01-01  55.750000            1  2012      1     Sunday
1 2012-01-02  38.541667            0  2012      1     Monday
2 2012-01-03  40.208333            0  2012      1    Tuesday
3 2012-01-04  32.375000            0  2012      1  Wednesday
4 2012-01-05  32.125000            0  2012      1   Thursday

OneHotEnvode the weekdays

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

ohe = OneHotEncoder()

feature_arr = ohe.fit_transform(df[['dayofweek']]).toarray()

feature_labels = ohe.categories_
feature_labels = np.array(feature_labels).ravel()

days = pd.DataFrame(feature_arr, columns=feature_labels)

df = df.merge(days, right_index=True,left_index=True)

In [11]:
df = df.set_index('dt_date').drop(['EDocc','flag_target'],axis=1)

In [12]:
df.index.name = ''
df.head()

            year  month  dayofweek

2012-01-01  2012      1     Sunday
2012-01-02  2012      1     Monday
2012-01-03  2012      1    Tuesday
2012-01-04  2012      1  Wednesday
2012-01-05  2012      1   Thursday

In [13]:
df.to_pickle('./../../data/interim/D2_timeseries/callender.pkl')