OBJ:
* find differences in column names between old cleaning and new

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [6]:
ed = pd.read_pickle('./../../data/raw/cleanED.pkl')

In [14]:
ed2 = pd.read_pickle('./../../data/raw/orig/archive2/sghED.pkl')

In [8]:
spl = pd.read_pickle('./../../data/raw/cleanSPELL.pkl')

In [15]:
spl2 = pd.read_pickle('./../../data/raw/orig/archive2/sghIPspell.pkl')

In [10]:
spl.shape

(1315333, 24)

In [18]:
s1 = set(ed.columns)

In [19]:
s2 = set(ed2.columns)

In [21]:
s1

{'1st_time_seen_by_doctor',
 '1st_time_triaged_[datetime]',
 'admission_flag',
 'age',
 'arrival',
 'arrival_mode',
 'arrival_mode_desc',
 'attendance_number',
 'department',
 'flag_admission',
 'flag_bedreq',
 'flag_cdu',
 'flag_specreq',
 'gender',
 'majorsminorsresus_patient',
 'pseudo_patient_number',
 'site_attended',
 'speciality_referred_to',
 'time_into_cdu',
 'time_leaving_dept_inc_cdu',
 'time_of_inpatient_bed_request',
 'time_of_speciality_referral',
 'triage_category'}

In [25]:
ed.head()

,pseudo_patient_number,attendance_number,age,gender,department,site_attended,arrival,arrival_mode,arrival_mode_desc,1st_time_triaged_[datetime],...,speciality_referred_to,time_into_cdu,time_leaving_dept_inc_cdu,admission_flag,majorsminorsresus_patient,triage_category,flag_admission,flag_bedreq,flag_specreq,flag_cdu
0,004101045105,90902325901,94.0,F,Main ED,Main ED,2009-04-13 09:16:00,NaN,BROUGHT IN BY AMBULANCE,NaN,...,NaN,NaT,2009-04-13 12:24:00,N,Majors,VERY URGENT,0,1,1,1
1,644868441371,90902326101,47.0,M,Main ED,Main ED,2009-04-13 09:22:00,NaN,BROUGHT IN BY AMBULANCE,NaN,...,NaN,NaT,2009-04-13 12:55:00,Y,Majors,VERY URGENT,1,1,1,1
2,668666687357,90902326501,0.0,M,Main ED,Main ED,2009-04-13 09:31:00,NaN,OTHER,NaN,...,Paediatrics - Medical,NaT,2009-04-13 11:54:00,Y,Paeds,STANDARD,1,1,0,1
3,446747461391,90902328601,4.0,M,Main ED,Main ED,2009-04-13 10:52:00,NaN,OTHER,NaN,...,Orthopaedics,NaT,2009-04-13 13:49:00,N,NaN,STANDARD,0,1,0,1
4,423646238168,90902328801,31.0,F,Main ED,Main ED,2009-04-13 11:18:00,NaN,BROUGHT IN BY AMBULANCE,NaN,...,Obstetrics & Gynaecology,NaT,2009-04-13 14:49:00,Y,Majors,VERY URGENT,1,1,0,1

In [22]:
s2

{'adm_flag',
 'adm_referral_loc',
 'adm_req_dep_wait',
 'age',
 'age_group',
 'arr_adm_req_wait',
 'arr_dr_wait',
 'arr_triage_wait',
 'arrive_date',
 'arrive_datetime',
 'arrive_day',
 'arrive_dayofweek',
 'arrive_dayofweek_name',
 'arrive_flag_wkend',
 'arrive_hour',
 'arrive_mode',
 'arrive_month',
 'arrive_week',
 'arrive_year',
 'breach_datetime',
 'breach_flag',
 'depart_date',
 'depart_datetime',
 'depart_day',
 'depart_dayofweek',
 'depart_dayofweek_name',
 'depart_flag_wkend',
 'depart_hour',
 'depart_month',
 'depart_week',
 'depart_year',
 'dept_patid',
 'dr_adm_req_wait',
 'dr_dep_wait',
 'first_adm_request_datetime',
 'first_dr_datetime',
 'first_triage_datetime',
 'gender',
 'hosp_patid',
 'site',
 'stream',
 'waiting_time'}